<template>
    <div class="container--card" >
        <img :src="'https://image.tmdb.org/t/p/w500/'+url" alt="">
        <h4 :data-title="id">{{title}}</h4>
        <span>Fecha: {{date}}</span>
        <div class="card--icon">
            <p><font-awesome-icon icon="heart" color="red"/> {{popularity}}</p>
            <a><font-awesome-icon icon="plus" color="white"/></a>
        </div>
    </div>
</template>

<script>
    
    export default {
        name: 'Card',
        props:{
            id: Number,
            url: String,
            title: String,
            date: String,
            popularity: String,
            stateview: Boolean,
        }
    }
</script>