.container--card{
    width: 300px;
    margin:10px 0;
    cursor: pointer;
    box-shadow: -4px 4px 4px 0px #ccc;
    transition: all 0.3s;
    img{
        width: 100%;
        height: 350px; 
    }
    p, h4{
        margin-left: 10px;
    }
    span{
        margin-left: 10px;
        color: #ffc033;
    }
    .card--icon{
        display: flex;
        justify-content: space-between;
        a{
            padding: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background: #ffc033;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
    }
    &:hover{
        box-shadow: none;
        transition: all 0.3s;
    }
}