<template>
    <div id="modal" v-bind:class="[stateshow ? 'container--modal--background': 'hidden']"></div>
    <div v-bind:class="[stateshow ? 'container--modal': 'hidden']">
        <img :src="`https://image.tmdb.org/t/p/w500/${img}`" alt="">
        <div class="modal--imfo">
            <font-awesome-icon icon="times" color="darkgrey" size="1x" @click.prevent="stateshow=false"/>
            <div class="modal--text">
                <h2>{{title}}</h2>
                <p>{{category}}</p>
                <a href="">{{age}}</a>
                <a href="">{{duration}}</a>
                <div class="modal--settings">
                    <a>
                        <font-awesome-icon icon="heart" color="red" size="1x"/>{{popularity}}<br>
                        Routing
                    </a>
                    <a>
                        <font-awesome-icon icon="thumbs-down" color="blue" size="1x"/>{{votes}}<br>
                        Score
                    </a>
                    <a>
                        <font-awesome-icon icon="trophy" color="yellouh" size="1x"/>{{count}}<br>
                        Awores
                    </a>
                </div>
            </div>
            <p>{{description}}</p>
            <div class="modal--buttons">
                <button>Watch Trailer</button>
                <button>To Watchlist</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'Modal',
        props:{
            stateshow: Boolean,
            title: String,
            category: String,
            img: String,
            age: String,
            duration: String,
            description: String,
            popularity: Number,
            votes: Number,
            count: Number,
        },
        methods:{
           
        }
    }
    
</script>