.container--modal--background{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    min-height: 100vh;
    background: rgba(0,0,0, 0.5);
}

.container--modal{
    top: calc(50% - 150px);
    left: calc(50% - 350px);
    width: 90%;
    height: 350px;
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    max-width: 700px;
    background: #fff;
    @extend .flex--container;
    img{
        width: 100%;
        max-width: 250px;
    }
    .modal--imfo{
        width: 100%;
        height: 100%;
        max-width: 450px;
        position: relative;
        align-content: flex-end;
        @extend .flex--container;
        >svg{
            top: 5px;
            right: 5px;
            position: absolute;
        }
        .modal--text{
            top: 30px;
            left: -30px;
            width: 100%;
            height: 160px;
            z-index: 1200;
            padding: 5px;
            position: absolute;
            background: #fff;
            box-sizing: border-box;
            justify-content: space-around;
            @extend .flex--container;
            box-shadow: 1px 1px 6px 0px #aaa;
            h2{
                width: 95%;
                font-size: 1.3rem;
            }
            p{
                width: 50%;
                margin: 0;
            }
            a{
                width: 80px;
                height: 25px;
                padding: 5px;
                text-align: center;
                border-radius: 50px;
                background: #ddd;
                text-decoration: none;
                box-sizing: border-box;
            }
            .modal--settings{
                width: 95%;
                padding: 10px 0;
                border-top: 1px solid #ccc;
                justify-content: space-around;
                @extend .flex--container;
                a{
                    background: none;
                }
            }
        }
        p{
            width: 100%;
            font-size: 13px;
            margin: 0px 10px 20px 10px; 
        }
        .modal--buttons{
            width: 100%;
            height: 50px;
            @extend .flex--container;
            button{
                width: 50%;
                border: none;
                color: #333;
                background: #ffbe33;
                transition: all 0.3s;
                &:hover{
                    color: #ffbe33;
                    background: #333;
                    transition: all 0.3s;
                }
                &:last-child{
                    color: #ffbe33;
                    background: #333;
                }
            }
        }
    }
}