.container--tools-commantbar{
    width: 50%;
    max-width: 50px;
    min-width: 40px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transition: all 0.3s;
        background: rgba(0, 0, 0, 0.2);
    }
    .commantbar--icon{
        cursor: pointer;
        padding: 6px;
    }
    ul{
        display: none;
        transition: all 0.3s;
    }
    .commantbar--options{
        top: 34px;
        display: block;
        position: absolute;
        transition: all 0.3s;
        .commantbar--item{
            color: #fff;
            cursor: pointer;
            padding: 8px 20px;
            background: rgba(0, 0, 0, 0.4);
            transition: all 0.3s;
            &:hover{
                transition: all 0.3s;
                background: rgba(0, 0, 0, 0.8);
            }
        }
    }
}