<template>
    <div class="container--tools-commantbar">
        <a class="commantbar--icon" @click="showOptions()">
            {{title}}
            <font-awesome-icon :icon="icon" color="white" size="2x"/>
        </a>
        <ul v-bind:class="[optEnable ? 'commantbar--options':'']"> 
            <li v-for="(item, index) in items" class="commantbar--item" :key="index">
                {{item.text}}
            </li>
        </ul>
    </div>
</template>

<script>
    export default{
        name: 'CommantBar',
        data(){
            return{
                optEnable: false,
            }
        },
        props:{
            icon: String,
            title: String,
            items: Array
        },
        methods:{
            showOptions(){
                {this.optEnable ? this.optEnable=false : this.optEnable=true}
            }
        },
    }
</script>