<template>
    <div class="container--header-slider">
        <img :src="img" alt="Bacnground">
    </div>
</template>

<script>

    export default{
        name: 'Slider',
        props: {
            img: String
        }
        
    }
</script>