.container--header-slider{ 
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    width: 100%;
    height: 650px;
    position: absolute;
    background: #ffc033;
    align-items: center;
    overflow: hidden;
    @extend .flex--container;
    img{
        top: 0;
        left: 0;
        width: 100%;
        min-width: 360px;
        position: absolute;
        filter: brightness(0.5);
        transition: all 0.5s;
    }
}

@media (max-width:410px){
    .container--header-slider{
        height: 520px;        
    }
}