<template>
    <header class="container--header flex--container">
        <Slider v-bind:img="items[testig].img"/>
        <Logo />
        <Nav/>
        <Profile/>
        <div class="slider--container-controllers">
            <div class="slider--points">
                <ul>
                    <li v-for="(item, index) in items" :key="index" 
                        @click="changeIndex(item.id)"
                    ></li>
                </ul>
            </div>
            <div class="slider--info">
                <h2>{{items[testig].title}}</h2>
                <h6>{{items[testig].generic}}</h6>
                <button @click="openVideo(items[testig].url)">
                    Watch Trailer 
                    <font-awesome-icon :icon="['far', 'play-circle']" size="2x"/>
                </button>
                <p>
                    In theathers<br>
                    <span>{{items[testig].date}}</span>
                </p>
            </div>
            <div class="slider--buttons">
                <font-awesome-icon icon="chevron-circle-up" color="white" size="2x" @click="next"/>
                <font-awesome-icon icon="chevron-circle-down" color="white" size="2x" @click="prev"/>
            </div>
        </div>
    </header>
    <main class="container--main">
        <div class="container--categories">
            <ul>
                <li v-for="(category, index) in categoryes" :key="index">
                    {{category}}
                </li>
            </ul>
            <button>
                156 <font-awesome-icon icon="star" color="white" size="1x"/>
            </button>
        </div>
        <div class="container--filters">
            <div class="control--views">
                <font-awesome-icon icon="align-justify" color="darkgrey" size="1x" @click.prevent="stateviewlist=false"/>
                <font-awesome-icon icon="th" color="darkgrey" size="1x" @click.prevent="stateviewlist=true"/>
            </div>
            <div class="control--range">
                <input type="range" min="1" max="20" value="20"  />
                <p>{{initMovie}}</p>
            </div>
            <div class="control--input">
                <input type="text">
                <font-awesome-icon icon="search" color="darkgrey" size="1x"/>
            </div>
        </div>
        <div class="container--list" v-if="movies!=null"> 
            <Card v-for="(movie, index) in movies" :v-if="initMovie >= index" :key="index" 
                v-bind:id="movie.id" v-bind:url="movie.poster_path" v-bind:title="movie.title" 
                v-bind:date="movie.release_date" v-bind:popularity="movie.popularity" 
                v-bind:stateview="stateviewlist" @click="showModal(movie.id)"
            />
        </div>
        <div class="container--loading" v-else-if="movies==null">
            <h3>Loading...</h3>
        </div>
        <Modal v-bind:img="currentItem.img" 
            v-bind:title="currentItem.title" v-bind:category="currentItem.category" 
            v-bind:duration="currentItem.duration" v-bind:age="currentItem.age"  
            v-bind:stateshow="stateviewmodal" v-bind:description="currentItem.description"
            v-bind:votes="currentItem.votes" v-bind:count="currentItem.count" v-bind:popularity="currentItem.popularity"
        />
    </main>
    <footer class="container--footer">
        <div class="footer--info">
            <p>IMDb</p>
            <div class="footer--icons">
                <font-awesome-icon :icon="['fab', 'twitter']" color="darkgrey" size="2x"/>
                <font-awesome-icon :icon="['fab', 'facebook-square']" color="darkgrey" size="2x"/>
                <font-awesome-icon :icon="['fab', 'google-plus-square']" color="darkgrey" size="2x"/>
            </div>
            <h5 class="footer--copy">1995 - 2015 IMBO.COM INC</h5>
        </div>
        <hr/>       
        <h6>@Copyright</h6>
    </footer>
</template>

<script>
    import Logo from '../components/header/logo/logo.component'
    import Nav from '../components/header/navMenu/nav.component';
    import Slider from '../components/header/slider/slider.component';
    import Profile from '../components/header/profile/profile.component';
    import Card from '../components/tools/card/card.component';
    import Modal from '../components/tools/modal/modal.component';

    import ReqMovies from '../utils/request/request';

    export default {
        name: 'Films',
        components:{
            Logo,
            Nav,
            Slider,
            Profile,
            Card,
            Modal
        },
        data(){
            return{
                movies: null,
                initMovie: '20',
                testig: 0,
                stateviewlist: true,
                stateviewmodal: false,
                categoryes: [
                    'IN THEATERS',
                    'COMING SOON',
                    'CHARTS', 
                    'TV SERIES',
                    'TRAILERS',
                ],
                items: [
                    {
                        id: 0,
                        img: 'https://image.tmdb.org/t/p/w500//q719jXXEzOoYaps6babgKnONONX.jpg',
                        title:'YOUR NAME',
                        generic: 'Comedic - Action',
                        date: '10 Oct, 2021 (USA)',
                        url: 'https://www.youtube.com/watch?v=z7PSyWuArVQ'
                    },
                    {
                        id: 1,
                        img: 'https://image.tmdb.org/t/p/w500//7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
                        title:'PARACITE',
                        generic: 'Comedic - Action',
                        date: '10 Oct, 2021 (USA)',
                        url: 'https://www.youtube.com/watch?v=z7PSyWuArVQ'
                    },
                    {
                        id: 2,
                        img: 'https://image.tmdb.org/t/p/w500//tnAuB8q5vv7Ax9UAEje5Xi4BXik.jpg',
                        title:'ZACK SNYDER`S JUSTICE LEAGUE',
                        generic: 'Comedic - Action',
                        date: '10 Oct, 2021 (USA)',
                        url: 'https://www.youtube.com/watch?v=z7PSyWuArVQ'
                    },
                    {
                        id: 3,
                        img: 'https://image.tmdb.org/t/p/w500//h1B7tW0t399VDjAcWJh8m87469b.jpg',
                        title:'HAMILTON',
                        generic: 'Comedic - Action',
                        date: '10 Oct, 2021 (USA)',
                        url: 'https://www.youtube.com/watch?v=z7PSyWuArVQ'
                    }
                ],
                currentItem:{
                    title: '',
                    category: '',
                    duration: '',
                    age: '',
                    description: '',
                    img: '',
                    popularity: 0,
                    votes: 0,
                    count: 0
                },
                timer: null
            }
        },
        async mounted(){
           this.startSlide();
           this.movies = await this.getMovies();
           console.log(this.movies)
        },
        methods:{
            showModal(id){
                for(let movie of this.movies){
                    if(id == movie.id){
                        this.currentItem = {
                            title: movie.title,
                            category: 'Action - Commic',
                            duration: '2:30 h',
                            age: 'Pg-13',
                            description: movie.overview,
                            img: movie.poster_path,
                            popularity: movie.popularity,
                            votes: movie.vote_average,
                            count: movie.vote_count
                        }
                    }
                }
                this.stateviewmodal = true;
            },
            startSlide: function() {
                this.timer = setInterval(this.next, 5000);
            },
            getMovies: async()=>{
                const res = await ReqMovies({category:'movie', type:'top_rated'})
                return res.results 
            },
            changeIndex: function(e){
                this.testig = e;
            },
            next: function(){
                {this.testig >= 3? this.testig = 0 : this.testig++}
            },
            prev: function(){
                {this.testig <= 0? this.testig = 3 : this.testig--}
            },
            openVideo: function(url){
                window.open(url);
            }
        }
    }
</script>