<template>
    <div class="container--header-profile">
        <CommantBar v-bind:icon="'cog'"  v-bind:items="itemSettings"/>
        <CommantBar v-bind:icon="'user-circle'" v-bind:items="itemAccounts"/>
    </div>
</template>

<script>
    import CommantBar from '../../tools/commantBar/commantBar.component';

    export default {
        name: 'Profile',
        data(){
            return{
                itemSettings:[{text: 'Lorem', redirec:''}, {text: 'Lorem', redirec:''}, {text: 'Lorem', redirec:''}],
                itemAccounts:[{text: 'Lorem', redirec:''}, {text: 'Lorem', redirec:''}, {text: 'Lorem', redirec:''}]
            }
        },
        components:{
            CommantBar
        }
    }
</script>