.container--header-navbar{
    width: 50%;
    text-align: center;
    input[type="checkbox"]{
        display: none;
    }
    label{
        display: none;
    }
    ul{
        @extend .flex--container;
        padding: 0;
        color: #fff;
        align-items: center;
        justify-content: center;
        .item--nav{
            cursor: pointer;
            padding: 15px 18px;
            font-size: 0.9rem;
            transition: all 0.3s;
            &:hover{
                transition: all 0.3s;
                background-color: rgba($color: #000, $alpha: 0.5);
            }
        }
    }
}

@media screen and (max-width:920px){
    .container--header-navbar{
        margin: 8px 0;
        position: relative;
        label{
            margin: 10px;
            display: block;
            color: #fff;
            cursor: pointer;
            font-size: 1.4rem;
        }
        ul#navMenu{
            display: none;
        }
        .nav--mobile{
            left: -50%;
            margin: 0;
            padding: 0;
            width: 100vw;
            display:block;
            text-align: center;
            position: absolute;
            background: rgba($color: #000, $alpha: 0.3);
            .item--nav{
                font-size: 0.9rem;
                padding: 10px 0;
                border-bottom: 1px solid #eee;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}