<template>
    <nav class="container--header-navbar">
        <input type="checkbox" id="navMenu" @click="toggelNav(stateNav)">
        <label for="navMenu">&#x2630;</label>
        <ul v-bind:id="[stateNav ? '': 'navMenu']" v-bind:class="[stateNav ? 'nav--mobile' : 'flex--container nav']">
            <li class="item--nav">MOVIES</li>
            <li class="item--nav">CELEBS PHOTOS</li>
            <li class="item--nav">COMMUNITY</li>
            <li class="item--nav">NEWS</li>
        </ul>
    </nav>
</template>

<script>

    export default{
        name: 'Nav',
        data(){
            return{
                stateNav: false,
            }
        },
        methods:{
            toggelNav(state){
                if(!state){
                    this.stateNav = true;
                }else{
                    this.stateNav = false;
                }
                console.log(this.stateNav)
            }
        }        
    }
</script>