<template>
    <Films/>
</template>

<script>
    import Films from './views/Films'
    
    export default {
        name: 'App',
        components:{
            Films
        }
    }
</script>

<style lang="scss" src="./assets/sass/index.scss"></style>

