<template>
    <div class="container--logo">
        <img src="../../../assets/img/logo.jpg" alt="">
    </div>
</template>

<script>
    export default {
        name: 'Logo',
        props: {
            url: String
        }
    }
</script>