@import '../../components/tools/card/card.component.scss';
@import '../../components/header/logo/logo.component.scss';
@import '../../components/tools/modal/modal.component.scss';
@import '../../components/header/navMenu/nav.component.scss';
@import '../../components/header/slider/slider.component.scss';
@import '../../components/header/profile/profile.component.scss';
@import '../../components/tools/commantBar/commantBar.component.scss';

:root{
    --font-family: Arial;
}

body{
    margin: 0;
    background: #eee;
    font-family: var(--font-family);
}

.disabled{
    display: none;
}

ul{
    list-style: none;
    padding: 0;
}

.hidden{
    display: none;
}

.flex--container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

a, button, svg{
    cursor: pointer;
}

.container--header{
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    .slider--container-controllers{
        z-index: 100;
        margin: 0 auto;
        width: 100%;
        height: 500px;
        max-width: 1400px;
        align-items: center;
        justify-content: space-around;
        @extend .flex--container;
        .slider--points{
            width: 10%;
            height: 120px;
            max-width: 60px;
            display: content;
            ul{
                li{
                    margin: 15px 0;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #fff;
                    border-radius: 50px;
                    &:hover{
                        background-color: #fff;
                    }    
                }
            }
        }
        .slider--info{
            width: 80%;
            max-width: 1200px;
            *{
                color: #ffF;
            }
            h2{
                margin-bottom: 15px;
                font-size: 3rem;
            }
            h6{
                margin: 0;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
            button{
                width: 100%;
                border: none;
                color: #000;
                margin: 10px 0 2rem 0;
                padding: 6px 0;
                max-width: 200px;
                font-size: 1rem;
                border-radius: 50px;
                align-items: center;
                justify-content: space-around;
                @extend .flex--container;
                background-color: #ffbe33;
                transition: all 0.3s;
                svg{
                    color: #000;
                }
                &:hover{
                    transition: all 0.3s;
                    background-color: #fff;
                }
            }
            p{
                font-size: 1rem;
            }
        }
        .slider--buttons{
            width: 10%;
            height: 120px;
            max-width: 60px;
            align-items: center;
            @extend .flex--container;
            svg{
                width: 100%;
            }
        }
    }
    @media (max-width:410px){
        .slider--container-controllers{
            height: 400px;        
        }
    }
}

.container--main{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    background: #fff;
    justify-content: center;
    @extend .flex--container;
    .container--filters, .container--categories{
        width: 100%;
        margin: 20px 5%;
        @extend .flex--container;
    }
    .container--categories{
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        align-items: center;
        ul{
            margin: 0;
            width: 100%;
            height: 100%;
            max-width: 600px;
            justify-content: space-between;
            @extend .flex--container;
            li{
                width: 120px;
                padding: 12px 0;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    transition: all 0.3s;
                    padding-top: 12px;
                    padding-bottom: 8px;
                    border-bottom: 3px solid #ffbe33;
                }
            }
        }
        button{
            width: 10%;
            height: 30px;
            color: #fff;
            border: none;
            min-width: 100px;
            background: #ffc033;
        }
    }
    .container--filters{
        a{

        }
    }
    .container--list{
        padding: 5px 8px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-around;
        @extend .flex--container;
    }
    .control--views, .control--range{
        justify-content: flex-start;
        align-items: center;
        @extend .flex--container; 
        svg{
            margin-right: 10px;
        }
        input[type="range"]{
            -webkit-appearance: none;
            width: 80%;
            height: 3px;
            margin: 0 10px;
            border-radius: 5px;  
            background: #ffc033;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                appearance: none;
                width: 12px;
                height: 12px;
                border-radius: 50%; 
                background: #ffc033;
                cursor: pointer;
            }
        }
    }
    .control--views{
        width: 10%;
    } 
    .control--range{
        width: 40%;
    }
    .control--input{
        width: 50%;
        min-width: 250px;
        position: relative;
        input{
            width: 100%;
            height: 32px;
            border: none;
            border-bottom: 1px solid #ffc033;
        }
        svg{
            top: 10px;
            right: 0;
            position: absolute;
        }
    }
}

.container--footer{
    width: 100%;
    margin-top: 30px;
    padding: 20px 0 5px 0;
    background: #fff;
    .footer--info{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        @extend .flex--container;
        .footer--icons{
            width: 20%;
            justify-content: space-around;
            @extend .flex--container;   
        }
        p{
            width: 200px;
            font-size: 32px;
            color:darkgrey;
            font-weight: 900;
        }
        h5{
            color:darkgrey;
            width: 200px;
        }
    }
    h6{
        width: 100%;
        margin: 10px 0;
        color: #ffc033;
        font-weight: 200;
        font-size: 14px;
        text-align: center;
    }
}